<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>servlet01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
      <include-prelude>/WEB-INF/views/include.jsp</include-prelude>
      <trim-directive-whitespaces>true</trim-directive-whitespaces>
      <default-content-type>text/html; charset=utf8</default-content-type>
    </jsp-property-group>
  </jsp-config>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/views/errors/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/views/errors/404.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.NullPointerException</exception-type>
    <location>/WEB-INF/views/errors/null.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <listener>
    <listener-class>org.zerock.myapp.listener.ContextListenerImpl</listener-class>
  </listener>
  <filter>
    <filter-name>MyFilter</filter-name>
    <filter-class>org.zerock.myapp.filter.MyFilterImpl</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>InitParam</servlet-name>
    <servlet-class>org.zerock.myapp.servlet.InitParamServlet</servlet-class>
    <init-param>
      <param-name>dirPath</param-name>
      <param-value>C:/test</param-value>
    </init-param>
    <init-param>
      <param-name>userid</param-name>
      <param-value>admin</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitParam</servlet-name>
    <url-pattern>/InitParam</url-pattern>
  </servlet-mapping>
</web-app>